@import "./rose-pine.css";

* {
  font-family: "FantasqueSansM Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @text;
}

#clock,
#workspaces,
#window,
#network,
#disk,
#memory,
#cpu,
#battery,
#backlight,
#pulseaudio,
#pulseaudio.microphone {
  background: @surface;
  opacity: 1.0;

  padding: 0px 10px;
  margin: 0px 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  border: 1px solid @highlightMed;
}

#clock {
  color: @gold;
  border-radius: 10px 10px 10px 10px;
  margin-left: 10px;
  margin-right: 5px;
}

#workspaces {
  border-radius: 10px;
  margin-left: 5px;
  padding: 0px 5px;
}

#workspaces.button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #a6adc8;
  border-radius: 10px;
}

#workspaces button:hover {
  color: #a6adc8;
  border-radius: 10px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#disk {
  color: @love;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}

#memory {
  color: @foam;
  border-right: 0px;
  border-left: 0px;
}

#cpu {
  color: @gold;
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  margin-right: 10px;
}

#network {
  color: @rose;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}

#battery {
  color: #96d197;
  border-left: 0px;
  border-right: 0px;
}

#backlight {
  color: @text;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: @iris;
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  margin-right: 10px;
}
